<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ isEditMode ? ('parameters.role.edit' | translate) : ('parameters.role.add' | translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        type="button"
        fill="clear"
        (click)="onCancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-button
        type="submit"
        form="roleForm"
        [disabled]="roleForm.invalid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form id="roleForm" [formGroup]="roleForm" (ngSubmit)="onSubmit()">

    <!-- Libellé rôle -->
    <ion-item [class.item-has-error]="nomRole?.invalid && nomRole?.touched">
      <ion-label position="stacked">{{ 'parameters.role.label' | translate }} *</ion-label>
      <ion-input
        type="text"
        formControlName="nomRole"
        [placeholder]="'parameters.role.labelPlaceholder' | translate">
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="nomRole?.invalid && nomRole?.touched">
      <span *ngIf="nomRole?.errors?.['required']">{{ 'parameters.role.errors.labelRequired' | translate }}</span>
      <span *ngIf="nomRole?.errors?.['minlength']">{{ 'parameters.role.errors.labelMinLength' | translate }}</span>
      <span *ngIf="nomRole?.errors?.['maxlength']">{{ 'parameters.role.errors.labelMaxLength' | translate }}</span>
    </div>

    <!-- Description -->
    <ion-item [class.item-has-error]="description?.invalid && description?.touched">
      <ion-label position="stacked">{{ 'parameters.role.description' | translate }}</ion-label>
      <ion-textarea
        formControlName="description"
        [placeholder]="'parameters.role.descriptionPlaceholder' | translate"
        rows="3">
      </ion-textarea>
    </ion-item>
    <div class="error-message" *ngIf="description?.invalid && description?.touched">
      <span *ngIf="description?.errors?.['maxlength']">{{ 'parameters.role.errors.descriptionMaxLength' | translate }}</span>
    </div>

    <!-- Actif -->
    <ion-item>
      <ion-label>{{ 'parameters.role.active' | translate }}</ion-label>
      <ion-checkbox formControlName="actif" slot="end"></ion-checkbox>
    </ion-item>

  </form>
</ion-content>

