<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ isEditMode ? ('parameters.size.edit' | translate) : ('parameters.size.add' | translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        type="button"
        fill="clear"
        (click)="onCancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-button
        type="submit"
        form="tailleForm"
        [disabled]="tailleForm.invalid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form id="tailleForm" [formGroup]="tailleForm" (ngSubmit)="onSubmit()">
    <!-- Taille -->
    <ion-item [class.item-has-error]="taille?.invalid && taille?.touched">
      <ion-label position="stacked">{{ 'parameters.size.size' | translate }} *</ion-label>
      <ion-input
        type="text"
        formControlName="taille"
        [placeholder]="'parameters.size.sizePlaceholder' | translate"
        maxlength="20">
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="taille?.invalid && taille?.touched">
      <span *ngIf="taille?.errors?.['required']">{{ 'parameters.size.errors.sizeRequired' | translate }}</span>
      <span *ngIf="taille?.errors?.['minlength']">{{ 'parameters.size.errors.sizeMinLength' | translate }}</span>
      <span *ngIf="taille?.errors?.['maxlength']">{{ 'parameters.size.errors.sizeMaxLength' | translate }}</span>
    </div>

  </form>
</ion-content>

