<ion-app>
  <ion-menu contentId="main-content" menuId="main-menu">
    <ion-header>
      <ion-toolbar class="menu-header">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item 
            button 
            routerLink="/tabs/tab1" 
            routerDirection="root"
            [class.menu-item-active]="isRouteActive('/tabs/tab1')"
            routerLinkActive="menu-item-active"
            [routerLinkActiveOptions]="{exact: false}">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Accueil</ion-label>
          </ion-item>
          <ion-item 
            button 
            routerLink="/utilisateurs" 
            routerDirection="root"
            [class.menu-item-active]="isRouteActive('/utilisateurs')"
            routerLinkActive="menu-item-active"
            [routerLinkActiveOptions]="{exact: false}">
            <ion-icon name="people" slot="start"></ion-icon>
            <ion-label>Utilisateurs</ion-label>
          </ion-item>
          <ion-item 
            button 
            routerLink="/clients" 
            routerDirection="root"
            [class.menu-item-active]="isRouteActive('/clients')"
            routerLinkActive="menu-item-active"
            [routerLinkActiveOptions]="{exact: false}">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Clients</ion-label>
          </ion-item>
          <ion-item 
            button 
            (click)="toggleParametres($event)"
            [class.menu-item-active]="isRouteActive('/parametres')"
            [detail]="false">
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Paramètres</ion-label>
            <ion-icon 
              [name]="parametresExpanded ? 'chevron-up' : 'chevron-down'" 
              slot="end">
            </ion-icon>
          </ion-item>
          
          <!-- Sous-menu Paramètres -->
          <ng-container *ngIf="parametresExpanded">
            <ion-item 
              button 
              routerLink="/parametres/roles" 
              routerDirection="root"
              [class.menu-item-active]="isRouteActive('/parametres/roles')"
              routerLinkActive="menu-item-active"
              class="submenu-item">
              <ion-icon name="shield-checkmark" slot="start"></ion-icon>
              <ion-label>Rôles</ion-label>
            </ion-item>
          </ng-container>
          <ion-item button (click)="logout()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Déconnexion</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
