<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ isEditMode ? ('payments.edit' | translate) : ('payments.add' | translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        type="button"
        fill="clear"
        (click)="onCancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-button
        type="submit"
        form="paiementForm"
        [disabled]="paiementForm.invalid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form id="paiementForm" [formGroup]="paiementForm" (ngSubmit)="onSubmit()">
    <!-- Réservation -->
    <ion-item [class.item-has-error]="idReservation?.invalid && idReservation?.touched">
        <ion-label position="stacked">{{ 'payments.selectReservation' | translate }} *</ion-label>
        <ion-select formControlName="idReservation" [placeholder]="'payments.selectReservationPlaceholder' | translate">
        <ion-select-option *ngFor="let reservation of reservations" [value]="getReservationId(reservation)">
          {{ getReservationLabel(reservation) }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="error-message" *ngIf="idReservation?.invalid && idReservation?.touched">
        <span *ngIf="idReservation?.errors?.['required']">{{ 'payments.errors.reservationRequired' | translate }}</span>
    </div>

    <!-- Montant -->
    <ion-item [class.item-has-error]="montant?.invalid && montant?.touched">
        <ion-label position="stacked">{{ 'payments.amount' | translate }} (MAD) *</ion-label>
      <ion-input
        type="number"
        formControlName="montant"
          [placeholder]="'payments.amountPlaceholder' | translate"
        step="0.01"
        min="0.01">
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="montant?.invalid && montant?.touched">
        <span *ngIf="montant?.errors?.['required']">{{ 'payments.errors.amountRequired' | translate }}</span>
        <span *ngIf="montant?.errors?.['min']">{{ 'payments.errors.amountMin' | translate }}</span>
    </div>

    <!-- Date de paiement -->
    <ion-item [class.item-has-error]="datePaiement?.invalid && datePaiement?.touched">
        <ion-label position="stacked">{{ 'payments.paymentDate' | translate }} *</ion-label>
      <ion-input
        type="datetime-local"
        formControlName="datePaiement">
      </ion-input>
    </ion-item>
    <div class="error-message" *ngIf="datePaiement?.invalid && datePaiement?.touched">
        <span *ngIf="datePaiement?.errors?.['required']">{{ 'payments.errors.dateRequired' | translate }}</span>
    </div>

    <!-- Méthode de paiement -->
    <ion-item>
        <ion-label position="stacked">{{ 'payments.selectMethod' | translate }}</ion-label>
        <ion-select formControlName="methodePaiement" [placeholder]="'payments.selectMethodPlaceholder' | translate">
        <ion-select-option *ngFor="let methode of methodesPaiement" [value]="methode">
          {{ methode }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Référence -->
    <ion-item>
        <ion-label position="stacked">{{ 'payments.reference' | translate }}</ion-label>
        <ion-input
          type="text"
          formControlName="reference"
          [placeholder]="'payments.referencePlaceholder' | translate">
        </ion-input>
    </ion-item>

  </form>
</ion-content>
